<nb-card>
    <nb-card-body>

        

        <button nbButton status="danger" (click)="Add()"><nb-icon icon="plus"></nb-icon></button>  
        <div *ngIf="active">
            <form #updateForm="ngForm" #taskNewForm="ngForm" (ngSubmit)="onSubmit();">
                <table>
                    <tr>
                        <td>        <nb-select fullWidth placeholder="Select type" name="id_client" #id_client="ngModel"
                            [(ngModel)]="commande.type">
                            <nb-option value="Fournisseur">Fournisseur </nb-option>
                            <nb-option value="Centrale">Centrale </nb-option>


                        </nb-select>                       </td>
                        <td colspan="3">        <input type="text" [(ngModel)]="commande.nom_fournisseur" name="Fournisseur" nbInput placeholder="Initial width" fullWidth *ngIf="commande.type=='Fournisseur'">                        </td>
                    </tr>
                    <tr *ngFor="let ligne of commande.liste_p; let i = index">
                        <td><input #autoInput
                            nbInput
                            type="text"
                            name="Ligne{{i}}"
                            (input)="onChange()"
                            placeholder="Produit"
                            [nbAutocomplete]="auto" [(ngModel)]="ligne.produit.nomProduit"/>
                      
                          <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">
                      
                            <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
                              {{ option }}
                            </nb-option>
                      
                          </nb-autocomplete></td>
                        <td colspan="2"><input type="text" nbInput placeholder="Quantité" name="Qte{{i}}" [(ngModel)]="ligne.quantite"></td>
                        <td><button nbButton type="button" (click)="dynamic('add')"><nb-icon icon="plus"></nb-icon></button> </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2"><button nbButton type="submit" status="primary">Enregistrer</button></td>

                        
                    </tr>
                </table>
              </form>
            
                    </div>

                    <form>
                        <div class="mb-3 row">
                          <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
                          <div class="col-xs-3 col-sm-auto">
                            <input id="table-filtering-search" class="form-control" type="text" [formControl]="ffilter">
                          </div>
                        </div>
                      </form>
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Area</th>
                        <th scope="col">Population</th>
                        <th scope="col">Action</th>
                      </tr>
                      </thead>
                      <tbody>
                          
                        <tr *ngFor="let c of commandes$ | async; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <ngb-highlight [result]="c.name" [term]="ffilter.value"></ngb-highlight>
                        <td>{{ c.type }}</td>
                        <td>{{ c.nom_fournisseur}}</td>
                        <td><button type="button" nbButton status="info" (click)="expand()" >Details</button></td>
                      </tr>
                      </tbody>
                    </table>





                    
            

      
  
    </nb-card-body>
  </nb-card>